@media only screen and (min-width: 1200px) {
  
  div.about-card {
    grid-column: 2/3;
    grid-row: 1/1;
    width: auto;
  }

  div.about-contact-card {
    grid-column: 2/3;
    grid-row: 1/2;
    width: auto;
  }
  
  div.weather-card {
    grid-column: 1/2;
    grid-row: 2/3;
    width: auto;
  }

  div.contact-us-card {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  main div .large-view,
  footer div.large-view,
  .footer-logo.large-view {
    display: inline;
  }

  .weather-table {
    margin: 0 auto;
  }

  div.card-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 3fr;
    flex-wrap: wrap;
  }

  div.contact-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: 0px;
  }

  .footer-address,
  .footer-contact-info {
    width: 40%;
  }

  div.about-us-card-container {
    display: flex;
  }

  div.status-card {
    margin-left: 50px;
    /* width: 90%; */
    margin: 0 auto;
  }

  header nav ul li a {
    font-size: 1.1em;
  } 

  iframe.calendar-frame {
    width: 800px;
    height: 600px;
  }

  .two-column-card {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }

  div.meeting-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  div.meeting-cards div.full-width-card {
    grid-column: auto;
  }

}